mixin projectCard(project)
  .project__card
    a.project__title(href=`projects/${project.slug}/`)
      svg.project__icon
        use(xlink:href=`/img/sprite.svg#icon-${project.categories[0]}`, alt=`${project.categories[0]}`)
      .project__name= project.name
    img.project__img(src=`${project.coverImage}`)
    .project__summary= project.summary
    .project__links
      a.project__link(href=`${project.githubLink}`, target='_blank')
        svg.project__link--icon
          use(xlink:href='/img/sprite.svg#icon-github-black')
        span.project__link--text GitHub
      a.project__link(href=`${project.liveLink}`, target='_blank')
        svg.project__link--icon
          use(xlink:href='/img/sprite.svg#icon-linkedin-black')
        span.project__link--text Live
