mixin articleCard(article, inlineStyle='', lazyLoad=false)
  a.article-card(href=`/articles/${article.slug}/`, style=inlineStyle)
    .article-card__text
      .article-card__title
        svg.article-card__icon
          use(xlink:href=`/img/sprite.svg#icon-${article.categories[0]}`, alt=`${article.categories[0]} icon`)
        .article-card__name= article.name
      ul.article-card__summary
        each point in article.summaryPoints
          li.article-card__point= point
    if lazyLoad
      img.lazy-img.article-card__img(src=`/img/lazy-${article.coverImage}`, data-src=`/img/${article.coverImage}`, alt=`${article.name} cover image`)
    else
      img.article-card__img(src=`/img/${article.coverImage}`, alt=`${article.name} cover image`)
