mixin iconLink(section, link, icon)
  a(class=`${section}__link`, href=`${link}`, target='blank')
    svg(class=`${section}__link-icon` + ' icon')
      use(xlink:href=`/img/sprite.svg#icon-${icon}`, alt=`${icon.split('-')[0]} icon`)
