include _captionedIcon

mixin projectCard(project)
  .project-card
    a.project-card__title(href=`projects/${project.slug}/`)
      svg.project-card__icon--title: use(xlink:href=`img/sprite.svg#icon-${project.categories[0]}`, alt=`${project.categories[0]}`)
      span.project-card__name= project.name
    a(href=`projects/${project.slug}/`)
      img.project-card__img(src=`/img/${project.coverImage}`)
    a(href=`projects/${project.slug}/`).project-card__summary= project.summary
    .project-card__links
      a.project-card__link(href=`${project.githubLink || '#'}`, target=project.githubLink ? '_blank' : '_self')
        +captionedIcon('project-card', 'github', 'GitHub')
      a.project-card__link(href=`${project.liveLink || '#'}`, target=project.liveLink ? '_blank' : '_self')
        +captionedIcon('project-card', 'live', 'Live')
