include _techGrid
include _projectLinks

mixin projectRow(project)
  - const im = project.coverImage
  .project-row
    .project-row__title
      .project-row__name= project.name
      .project-row__links
        +projectLinks(project)

    .project-row__content
      picture.project-row__picture
        source(media='(max-width: 56.25em)', srcset=`/img/${sizeImageUrl(im, '-small')} 1x, /img/${im} 2x`)
        source(media='(max-width: 75em)', srcset=`/img/${im}`)
        source(media='(max-width: 112.5em)', srcset=`/img/${im} 1x, /img/${sizeImageUrl(im, '-large')} 2x`)
        source(media='(min-width: 112.5em)', srcset=`/img/${sizeImageUrl(im, '-large')}`)
        img.project-row__img(src=`/img/${project.coverImage}`, alt=`${project.name} cover photo`)
      .project-row__text
        .project-row__summary #[em SUMMARY:] #[br] #{project.summary}
        - const descParas = project.detailDescription.split('\n')
        span #[em DESCRIPTION:]
        each para in descParas
          .project-row__description #{para}
      +techGrid('Tech Used', project.techsUsed)
