include _captionedIcon

mixin projectRow(project)
  .project-row
    .project-row__title
      .project-row__name= project.name
      .project-row__links
        //- these buttons should be reused from landing page
        a.project__link(href=`${project.githubLink || '#'}`, target='blank')
          +captionedIcon('project', 'github', 'GitHub')
        a.project__link(href=`${project.liveLink || '#'}`, target='blank')
          +captionedIcon('project', 'live', 'Live')

    .project-row__content
      img.project-row__img(src=`/img/${project.coverImage}`)
      .project-row__text
        .project-row__summary #[em SUMMARY:] #{project.summary}
        - const descParas = project.detailDescription.split('\n')
        span #[em DESCRIPTION:]
        each para in descParas
          .project-row__description #{para}
      .tech-used
        .tech-used__title Tech Used
        .tech-used__grid
          each tech in project.techsUsed
            svg.tech-used__grid-item
              use(xlink:href=`/img/sprite.svg#icon-${tech}`, alt=`${tech} icon`)
