include _captionedIcon
include _techGrid

mixin projectRow(project)
  .project-row
    .project-row__title
      .project-row__name= project.name
      .project-row__links
        //- these buttons should be reused from landing page
        a.project__link(href=`${project.githubLink || '#'}`, target=project.githubLink ? 'blank' : 'self')
          +captionedIcon('project-row', 'github', 'GitHub')
        a.project__link(href=`${project.liveLink || '#'}`, target=project.liveLink ? 'blank' : 'self')
          +captionedIcon('project-row', 'live', 'Live')

    .project-row__content
      img.project-row__img(src=`/img/${project.coverImage}`)
      .project-row__text
        .project-row__summary #[em SUMMARY:] #{project.summary}
        - const descParas = project.detailDescription.split('\n')
        span #[em DESCRIPTION:]
        each para in descParas
          .project-row__description #{para}
      +techGrid('Tech Used', project.techsUsed)
