include _projectLinks

mixin projectCard(project, lazyLoad=false)
  .project-card
    a.project-card__img-link(href=`/projects/${project.slug}/`)

      - const im = project.coverImage
      if lazyLoad
        img.project-card__img.lazy-img(srcset=`/img/${sizeImageUrl(im, '-lazy')} 1x, /img/${sizeImageUrl(im, '-lazy')} 2x`
        data-srcset=`/img/${sizeImageUrl(im, '-small')} 1x, /img/${im} 2x`
        src=`/img/${sizeImageUrl(im, '-lazy')}`)
      else
        img.project-card__img(srcset=`/img/${sizeImageUrl(im, '-small')} 1x, /img/${im} 2x`
        src=`/img/${project.coverImage}`)

    a.project-card__title(href='#')
      svg.project-card__icon: use(xlink:href=`/img/sprite.svg#icon-${project.categories[0]}`, alt=`${project.categories[0]}`)
      span.project-card__name= project.name
    a(href=`/projects/${project.slug}/`).project-card__summary= project.summary
    .project-card__links
      +projectLinks(project)
