extends ../base

mixin relatedArticleCard(article)
  a.rel-article-card(href=`/articles/${article.slug}/`)
    .rel-article-card__title= article.name
    img.rel-article-card__img(src=`/img/${article.cardImage}`, alt=article.coverImageAltText)

block content
  //- declaring this in a varible with a short name because i repeat it a bunch 
  - const im = article.coverImage
  article.article.pt-lg.pb-lg
    .article__title= article.name

    header.article__header
      picture.article__pic
        source(media='(max-width: 37.5em)', srcset=`/img/${sizeImageUrl(im, '-small')} 1x, /img/${im} 2x`)
        source(media='(max-width: 56.25em)', srcset=`/img/${sizeImageUrl(im, '-small')} 1x, /img/${sizeImageUrl(im, '-large')} 2x`)
        source(media='(max-width: 75em)', srcset=`/img/${im} 1x, /img/${sizeImageUrl(im, '-large')} 2x`)
        img.article__img(src=`/img/${im}`, alt=`${article.name} cover image`)
      .article__caption= article.coverImageCaption

    .article__by
      .article__author by #{article.authors.join(', ')}
      .article__date= article.createdAt.toLocaleDateString('en-US', {month: 'short', day: 'numeric', year: 'numeric'})
      - const oneHourAfterCreation = article.createdAt.getTime() + 1 * 60 * 60 * 1000
      if article.updatedAt.getTime() > oneHourAfterCreation
        .article__updated Updated: #{article.updatedAt.toLocaleDateString('en-US', {month: 'short', day: 'numeric', year: 'numeric', 'hour': '2-digit', 'minute': '2-digit'})}
    
    .article__body !{article.body}

    if relatedArticles
      aside.rel-content
        .rel-content__title Related Articles
        for article in relatedArticles
          +relatedArticleCard(article)
