extends ../base

mixin relatedArticleCard(article)
  a.rel-article-card(href=`/articles/${article.slug}/`)
    .rel-article-card__title= article.name
    img.rel-article-card__img(src=`/img/${article.coverImage}`, alt=`${article.name} cover image`)

block content
  section.article
    .article__content.pt-lg.pb-lg
      .article__title= article.name
      .article__hero
        img.article__img(src=`/img/${article.coverImage}`, alt=`${article.name} cover image`)
        .article__caption= article.coverImageCaption
      .article__by
        .article__author by #{article.authors.join(', ')}
        .article__date= article.createdAt.toLocaleDateString('en-US', {month: 'short', day: 'numeric', year: 'numeric'})
      - const articleParas = article.body.split('\n')
      each para in articleParas
        .article__body= para

    if relatedArticles
      .rel-content
        .rel-content__title Related Articles
        for article in relatedArticles
          +relatedArticleCard(article)
