extends ../base

include ../mixins/_projectLinks
include ../mixins/_techGrid

block content
  - const im = project.coverImage
  .project-detail.mt-md.mb-md
    .project-detail__header
      .project-detail__name= project.name
      .project-detail__links
        +projectLinks(project)
      .project-detail__summary= project.summary
    picture.project-detail__picture
      source(media='(max-width: 56.25em)', srcset=`${imageBaseUrl}/${sizeImageUrl(im, '-small')} 1x, ${imageBaseUrl}/${im} 2x`)
      source(media='(max-width: 75em)', srcset=`${imageBaseUrl}/${im}`)
      source(media='(max-width: 112.5em)', srcset=`${imageBaseUrl}/${im} 1x, ${imageBaseUrl}/${sizeImageUrl(im, '-large')} 2x`)
      source(media='(min-width: 112.5em)', srcset=`${imageBaseUrl}/${sizeImageUrl(im, '-large')}`)
      img.project-detail__img(src=`${imageBaseUrl}/${project.coverImage}`, alt=`${project.name} cover photo`)
    .project-detail__body
      - const descParas = project.detailDescription.split('\n')
      each para in descParas
        p.project-detail__description= para
    +techGrid('Tech Used', project.techsUsed)
